.table  {border-collapse:collapse;border-spacing:0;margin-top: -1px;}
.table td{border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:grey;text-align: center;}
.table th{border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:grey;}
